@tailwind base;
@tailwind components;
@tailwind utilities;




/* Common button for all components styling */
.hover-border-button {
  padding: 10px 40px;
  font-size: 16px;
  background-color: blue;
  font-weight: bold;
  color: white;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.hover-border-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid white; 
  transform: scaleX(0);
  transition: transform 0.4s ease; 
  transform-origin: right;
}

.hover-border-button:hover::before {
  transform: scaleX(1); 
  transform-origin: left;
}





/* image gallery styles  */

.image-gallery-slide img {
  width: 100%;
  height: 150px;
}

@media (min-width: 768px) {
  .image-gallery-slide img {
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .image-gallery-slide img {
    height: 400px;
  }
}

.image-gallery-thumbnail {
  width: 120px;
}

.image-gallery-thumbnail img {
  width: auto;
  height: 75px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
