@tailwind base;
@tailwind components;
@tailwind utilities;

/* image gallery styles  */

.image-gallery-slide img {
  width: 100%;
  height: 150px;
}

@media (min-width: 768px) {
  .image-gallery-slide img {
    height: 300px;
  }
}

@media (min-width: 1024px) {
  .image-gallery-slide img {
    height: 400px;
  }
}

.image-gallery-thumbnail {
  width: 120px;
}

.image-gallery-thumbnail img {
  width: auto;
  height: 75px;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
